        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color : black;
            height: 100vh;
        }

        .video-container {
            height : 60vh;
            width : 50vh;
            justify-content: center;
        }

        video {
           height : 50vh;
           width : 50vh;
           border: none;
        }

        .button-container {
            text-align: center;
            margin-top: -30px;
        }

        .join-call-container {
        justify-content: center;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: -50px;
        }

        input[type="text"],
        button {
            margin: 10px;
        }
        button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
video::-webkit-media-controls-timeline, video::-webkit-media-controls-play-button  {
    display: none;
}
        input[type="text"] {
            padding: 10px;
            width: 200px;
        }



button:hover {
  background-color: #0056b3;
}

html, body {
    touch-action: manipulation;
    user-zoom: fixed;
    -ms-content-zooming: none;
    touch-action-delay: none;
    touch-action: pan-x pan-y;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}