* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit, sans-serif;
}
:root {
  --body-color: #e7e7e7;
  --sidebar-color: #fff;
  --primary-color: #ff4500;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #f3eeee;
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 60px;
}
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}
.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar header {
  position: relative;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}
header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}
.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}
sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -50px;
    /* transform: translateY(-50%) rotate(180deg); */
    height: 65px;
    width: 51px;
    background-color: #ffa700;
    color: var(--sidebar-color);
    border-radius: -61%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}
.sidebar .menu {
  margin-top: 40px;
}
.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  border: 1px solid #dadce0;
  transition: var(--tran-05);
}
.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}
.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}
.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}
.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}
.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}
.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
.closebtn {
    position: absolute;
    top: 10;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:#252529;
}

.bx--home-alt {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 22h14a2 2 0 0 0 2-2v-9a1 1 0 0 0-.29-.71l-8-8a1 1 0 0 0-1.41 0l-8 8A1 1 0 0 0 3 11v9a2 2 0 0 0 2 2m5-2v-5h4v5zm-5-8.59l7-7l7 7V20h-3v-5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v5H5z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.quill--chat {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M25 5H7a4 4 0 0 0-4 4v10a4 4 0 0 0 4 4h11l6 4v-4h1a4 4 0 0 0 4-4V9a4 4 0 0 0-4-4'/%3E%3Cpath d='M10 15a1 1 0 1 1-2 0a1 1 0 0 1 2 0m6 0a1 1 0 1 1-2 0a1 1 0 0 1 2 0m6 0a1 1 0 1 1-2 0a1 1 0 0 1 2 0'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.clarity--administrator-line {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23000' d='M14.68 14.81a6.76 6.76 0 1 1 6.76-6.75a6.77 6.77 0 0 1-6.76 6.75m0-11.51a4.76 4.76 0 1 0 4.76 4.76a4.76 4.76 0 0 0-4.76-4.76' class='clr-i-outline clr-i-outline-path-1'/%3E%3Cpath fill='%23000' d='M16.42 31.68A2.14 2.14 0 0 1 15.8 30H4v-5.78a14.81 14.81 0 0 1 11.09-4.68h.72a2.2 2.2 0 0 1 .62-1.85l.12-.11c-.47 0-1-.06-1.46-.06A16.47 16.47 0 0 0 2.2 23.26a1 1 0 0 0-.2.6V30a2 2 0 0 0 2 2h12.7Z' class='clr-i-outline clr-i-outline-path-2'/%3E%3Cpath fill='%23000' d='M26.87 16.29a.37.37 0 0 1 .15 0a.42.42 0 0 0-.15 0' class='clr-i-outline clr-i-outline-path-3'/%3E%3Cpath fill='%23000' d='m33.68 23.32l-2-.61a7.21 7.21 0 0 0-.58-1.41l1-1.86A.38.38 0 0 0 32 19l-1.45-1.45a.36.36 0 0 0-.44-.07l-1.84 1a7.15 7.15 0 0 0-1.43-.61l-.61-2a.36.36 0 0 0-.36-.24h-2.05a.36.36 0 0 0-.35.26l-.61 2a7 7 0 0 0-1.44.6l-1.82-1a.35.35 0 0 0-.43.07L17.69 19a.38.38 0 0 0-.06.44l1 1.82a6.77 6.77 0 0 0-.63 1.43l-2 .6a.36.36 0 0 0-.26.35v2.05A.35.35 0 0 0 16 26l2 .61a7 7 0 0 0 .6 1.41l-1 1.91a.36.36 0 0 0 .06.43l1.45 1.45a.38.38 0 0 0 .44.07l1.87-1a7.09 7.09 0 0 0 1.4.57l.6 2a.38.38 0 0 0 .35.26h2.05a.37.37 0 0 0 .35-.26l.61-2.05a6.92 6.92 0 0 0 1.38-.57l1.89 1a.36.36 0 0 0 .43-.07L32 30.4a.35.35 0 0 0 0-.4l-1-1.88a7 7 0 0 0 .58-1.39l2-.61a.36.36 0 0 0 .26-.35v-2.1a.36.36 0 0 0-.16-.35M24.85 28a3.34 3.34 0 1 1 3.33-3.33A3.34 3.34 0 0 1 24.85 28' class='clr-i-outline clr-i-outline-path-4'/%3E%3Cpath fill='none' d='M0 0h36v36H0z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.bx--log-out {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16 13v-2H7V8l-5 4l5 4v-3z'/%3E%3Cpath fill='%23000' d='M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}



.icon-park-solid--phone-video-call {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='%23000' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M14.376 9.794a2 2 0 0 1 1.748 1.03l2.447 4.406a2 2 0 0 1 .04 1.865l-2.357 4.714s.683 3.511 3.541 6.37c2.859 2.858 6.358 3.53 6.358 3.53l4.714-2.357a2 2 0 0 1 1.866.04l4.42 2.458a2 2 0 0 1 1.027 1.748v5.073c0 2.584-2.4 4.45-4.848 3.624c-5.028-1.696-12.832-4.927-17.78-9.873c-4.946-4.947-8.176-12.752-9.873-17.78c-.826-2.448 1.04-4.848 3.624-4.848z'/%3E%3Cpath stroke-linecap='round' d='M39 15H27V5h12v3l5-2v8l-5-2z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.eos-icons--cronjob {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.021 1.021h6v2h-6zM20.04 7.41l1.434-1.434l-1.414-1.414l-1.433 1.433A8.989 8.989 0 0 0 7.53 5.881l1.42 1.44a7.038 7.038 0 0 1 4.06-1.3l.01.001v6.98l4.953 4.958A7.001 7.001 0 0 1 6.01 13.021h3l-4-4l-4 4h3A9 9 0 1 0 20.04 7.41'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.ri--broadcast-line {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m4.929 2.929l1.414 1.414A7.975 7.975 0 0 0 4 10c0 2.21.895 4.21 2.343 5.657L4.93 17.07A9.969 9.969 0 0 1 2 10a9.969 9.969 0 0 1 2.929-7.071m14.142 0A9.969 9.969 0 0 1 22 10a9.97 9.97 0 0 1-2.929 7.071l-1.414-1.414A7.975 7.975 0 0 0 20 10c0-2.21-.895-4.21-2.343-5.657zM7.757 5.757l1.415 1.415A3.987 3.987 0 0 0 8 10c0 1.105.448 2.105 1.172 2.829l-1.415 1.414A5.981 5.981 0 0 1 6 10c0-1.657.672-3.157 1.757-4.243m8.486 0A5.981 5.981 0 0 1 18 10a5.981 5.981 0 0 1-1.757 4.243l-1.415-1.415A3.988 3.988 0 0 0 16 10a3.987 3.987 0 0 0-1.172-2.828zM12 12a2 2 0 1 1 0-4a2 2 0 0 1 0 4m-1 2h2v8h-2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.icon-park-outline--receiver {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M9.858 38.142c7.81 7.81 20.474 7.81 28.284 0L9.858 9.858c-7.81 7.81-7.81 20.474 0 28.284M33.9 33.9l5.27-21.986M24 24l13.172-13.172M14.1 14.1l21.986-5.27M44 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.logos--oauth {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23fff' d='M118.923.371c56.56-3.922 94.064 23.757 115.507 57.48c10.752 16.91 21.302 42.59 21.35 68.977c.052 28.67-9.235 53.496-21.35 71.713c-12.45 18.723-28.555 34.188-48.72 44.342c-33.71 16.974-80.82 17.438-111.677 1.095c-34.365-18.2-60.786-44.18-70.618-89.231c-3.935-18.03-4.387-41.325 1.094-61.312c1.287-4.689 3.625-9.623 5.475-14.234c8.893-22.154 24.029-41.419 42.7-54.743c7.502-5.354 16.604-10.679 24.634-14.233C87.31 5.802 104.132 1.397 118.923.37'/%3E%3Cpath d='M226.212 130.016c0 53.456-43.335 96.788-96.79 96.788c-53.456 0-96.79-43.332-96.79-96.788c0-53.455 43.334-96.79 96.79-96.79c53.455 0 96.79 43.335 96.79 96.79'/%3E%3Cpath d='M118.923.371c56.56-3.922 94.064 23.757 115.507 57.48c10.752 16.91 21.302 42.59 21.35 68.977c.052 28.67-9.235 53.496-21.35 71.713c-12.45 18.723-28.555 34.188-48.72 44.342c-33.71 16.974-80.82 17.438-111.677 1.095c-34.365-18.2-60.786-44.18-70.618-89.231c-3.935-18.03-4.387-41.325 1.094-61.312c1.287-4.689 3.625-9.623 5.475-14.234c8.893-22.154 24.029-41.419 42.7-54.743c7.502-5.354 16.604-10.679 24.634-14.233C87.31 5.802 104.132 1.397 118.923.37m-19.16 9.307c-21.01 5.447-36.413 15.205-49.817 25.73C30.62 50.582 18.298 71.76 11.08 97.266c-8.031 28.376-2.873 62.715 8.211 84.304c11.494 22.388 26.927 39.766 48.721 52.006c21.204 11.907 51.026 19.553 82.115 13.686c27.623-5.214 48.602-17.247 65.692-35.036c22.866-23.802 41.244-67.641 29.014-113.866c-3.269-12.354-7.543-25.23-14.233-36.13c-3.615-5.889-8.92-11.682-14.233-17.518c-20.056-22.025-52.471-41.004-94.159-38.32c-7.933.51-14.905 1.33-22.445 3.285'/%3E%3Cg fill='%23fff'%3E%3Cpath d='m135.576 246.4l111.846-111.844l-.603-.603l-111.846 111.843zm-9.777-8.858L238.132 125.21l-.603-.604l-112.334 112.331zm-9.778-8.856l112.822-112.82l-.604-.604l-112.821 112.82zm-9.778-8.858l113.31-113.308l-.603-.603l-113.31 113.308zm-9.777-8.858L210.264 97.175l-.604-.603L95.862 210.367zm-9.778-8.854L200.973 87.829l-.603-.603L86.084 201.512zm-9.778-8.86L191.684 78.484l-.604-.603L76.306 192.653zm-9.778-8.856L182.394 69.137l-.604-.603l-115.262 115.26zm-9.778-8.858l115.748-115.75l-.604-.602L56.75 174.939zm-9.778-8.858L163.814 50.448l-.603-.604L46.973 166.081zm-9.778-8.856L154.525 41.102l-.604-.603L37.195 157.224zm-9.778-8.858L145.236 31.758l-.603-.604L27.417 148.367zm-9.777-8.857L135.945 22.41l-.603-.603L17.639 139.51zm-9.778-8.857l118.19-118.19l-.603-.603l-118.19 118.19zm-.642 1.13l114.08 114.086l.604-.604L8.427 131.783z'/%3E%3Cpath d='M17.075 123.002L131.377 237.31l.603-.603L17.678 122.399zm9.251-9.383L140.85 228.148l.604-.603L26.93 113.015zm9.252-9.384l114.746 114.752l.603-.604L36.181 103.632zm9.251-9.384l114.968 114.973l.603-.603L45.432 94.248zm9.251-9.383l115.19 115.195l.603-.604L54.684 84.864zm9.251-9.384l115.413 115.417l.604-.604L63.935 75.481zm9.251-9.384l115.636 115.64l.603-.604L73.186 66.097zm9.252-9.383l115.857 115.86l.604-.604L82.437 56.713zm9.251-9.384l116.08 116.081l.603-.603L91.688 47.33zm9.252-9.383l116.3 116.303l.604-.603L100.94 37.946zm9.251-9.384L226.11 145.69l.604-.604L110.19 28.562zm9.251-9.384L235.584 136.53l.604-.603L119.442 19.18zm9.251-9.383l116.968 116.968l.603-.603L128.694 9.795z'/%3E%3C/g%3E%3Cpath d='M209.796 45.26c-10.066-10.066-22.442-19.137-37.225-24.634c-15.323-5.698-32.657-10.501-53.101-8.759c-32.566 2.776-55.43 17.387-72.808 34.488C34.49 58.333 25.334 73.011 19.29 90.15c-8.874 25.165-8.335 54.868 1.642 80.472c8.51 21.84 22.44 39.455 42.152 53.1c18.53 12.83 45.127 22.779 74.998 20.256c36.383-3.073 63.003-21.739 80.472-43.247c4.47-5.502 8.914-11.722 11.496-19.16c2.53-5.36 3.768-9.002 4.927-10.948c4.852-10.873 7.423-22.344 8.211-35.036c2.426-39.036-12.593-69.528-33.392-90.326m-10.722 118.933c-.07.149-.132.287-.205.44c-1.805 5.165-4.914 9.483-8.039 13.305c-12.217 14.935-30.832 27.896-56.275 30.03c-20.89 1.751-39.489-5.157-52.447-14.065c-11.26-7.74-19.82-17.323-25.823-28.839c-.366-.693-3.852-8.724-3.862-9.077c-4.755-14.75-5.168-38.466-.287-52.698c3.257-9.5 8.686-19.777 15.875-27.92c9.927-11.242 19.861-18.447 35.584-23.539c7.178-2.325 13.605-4.692 22.444-4.927c21.555-.574 43.505 9.104 55.29 19.708c10.831 9.743 23.174 28.724 26.278 46.531c3.193 18.328-.215 36.223-8.533 51.051'/%3E%3Cpath fill='%23fff' d='M161.608 181.774c-5.308 0-9.966-3.362-11.591-8.365l-5.912-18.013H114.53l-5.492 17.85c-1.658 5.1-6.352 8.514-11.687 8.514c-1.28 0-2.553-.203-3.781-.602c-6.377-1.914-9.998-8.778-8.044-15.291l24.963-79.071c1.62-5.03 6.392-8.539 11.605-8.539h13.274c5.242 0 10.013 3.449 11.602 8.387l26.253 79.042c2.099 6.462-1.377 13.4-7.745 15.472c-1.259.409-2.56.616-3.87.616'/%3E%3Cpath d='M161.608 180.067c-4.755 0-8.92-3.006-10.374-7.48l-5.913-18.016l-.29-.881h-31.445l-.278.903l-5.493 17.849a10.977 10.977 0 0 1-13.85 7.072c-5.725-1.719-8.963-7.869-7.212-13.706l24.957-79.054c1.449-4.495 5.73-7.644 10.385-7.644h13.274c4.688 0 8.966 3.093 10.384 7.5l26.256 79.053c1.879 5.784-1.232 11.998-6.926 13.851c-1.13.367-2.299.553-3.474.553m0 2.56c1.444 0 2.88-.228 4.266-.678c7.045-2.294 10.882-9.956 8.566-17.085l-26.255-79.05c-1.756-5.458-7.021-9.264-12.817-9.264h-13.274c-5.772 0-11.033 3.87-12.824 9.426l-24.965 79.079c-2.159 7.199 1.833 14.782 8.897 16.903c1.33.431 2.735.655 4.15.655c5.892 0 11.074-3.774 12.903-9.399l5.499-17.868l-1.224.904h29.575l-1.216-.881l5.912 18.013c1.796 5.528 6.946 9.245 12.807 9.245'/%3E%3Cpath fill='%23fff' d='m63.574 53.058l-.031-.043c-3.113-4.266-2.2-10.234 2.385-13.58c4.584-3.345 10.473-2.406 13.586 1.86l.032.042c3.113 4.266 2.2 10.235-2.385 13.58c-4.585 3.346-10.474 2.407-13.587-1.86m11.8-8.612l-.031-.042c-1.564-2.144-4.477-2.88-6.747-1.224c-2.25 1.642-2.425 4.567-.861 6.711l.031.042c1.565 2.144 4.477 2.881 6.727 1.24c2.27-1.658 2.446-4.583.881-6.727m18.213-19.35l4.678-1.5L111.38 38.84l-5.204 1.67l-2.279-2.719l-6.755 2.168l-.248 3.529l-5.103 1.637zm7.697 9.369l-3.55-4.353l-.378 5.613zm18.522-4.782l.04-10.327l5.177.02l-.04 10.222c-.011 2.654 1.324 3.92 3.374 3.93c2.05.007 3.394-1.196 3.404-3.77l.041-10.353l5.177.02l-.04 10.195c-.024 5.939-3.424 8.527-8.653 8.506c-5.229-.022-8.503-2.689-8.48-8.443m35.867-1.804l-5.277-1.611l1.304-4.272l15.43 4.709l-1.304 4.272l-5.277-1.61l-4.065 13.319l-4.875-1.488zm25.239 4.787l4.243 2.824l-3.813 5.731l5.447 3.625l3.814-5.731l4.243 2.824l-10.19 15.313l-4.244-2.825l3.873-5.818l-5.448-3.625l-3.872 5.818l-4.243-2.824zm14.99 167.392l.033.041c3.274 4.145 2.589 10.144-1.865 13.663c-4.453 3.518-10.375 2.805-13.649-1.34l-.032-.04c-3.275-4.146-2.589-10.145 1.864-13.663c4.454-3.518 10.375-2.805 13.65 1.34m-11.464 9.057l.033.041c1.645 2.083 4.583 2.708 6.79.965c2.185-1.726 2.249-4.656.603-6.738l-.033-.042c-1.644-2.082-4.583-2.708-6.769-.981c-2.206 1.743-2.269 4.672-.624 6.755m-17.311 20.083l-4.608 1.705l-13.773-14.654l5.125-1.897l2.397 2.615l6.654-2.463l.091-3.536l5.027-1.86zm-8.102-9.02l3.738 4.191l.131-5.624zm-18.274 5.522l.455 10.317l-5.17.228l-.452-10.211c-.117-2.651-1.511-3.852-3.559-3.762c-2.047.09-3.333 1.358-3.22 3.93l.457 10.342l-5.17.229l-.45-10.185c-.263-5.933 3.01-8.681 8.233-8.912c5.224-.23 8.622 2.276 8.876 8.025m-35.932 3.373l5.327 1.438l-1.164 4.313l-15.578-4.205l1.164-4.313l5.328 1.438l3.63-13.447l4.922 1.329zm-25.183-3.748l-4.373-2.62l3.54-5.906l-5.612-3.364l-3.54 5.906l-4.372-2.62l9.457-15.778l4.372 2.62l-3.593 5.996l5.612 3.364l3.593-5.995l4.373 2.62z'/%3E%3C/svg%3E");
}


.ant-design--api-outlined {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='m917.7 148.8l-42.4-42.4c-1.6-1.6-3.6-2.3-5.7-2.3s-4.1.8-5.7 2.3l-76.1 76.1a199.27 199.27 0 0 0-112.1-34.3c-51.2 0-102.4 19.5-141.5 58.6L432.3 308.7a8.03 8.03 0 0 0 0 11.3L704 591.7c1.6 1.6 3.6 2.3 5.7 2.3c2 0 4.1-.8 5.7-2.3l101.9-101.9c68.9-69 77-175.7 24.3-253.5l76.1-76.1c3.1-3.2 3.1-8.3 0-11.4M769.1 441.7l-59.4 59.4l-186.8-186.8l59.4-59.4c24.9-24.9 58.1-38.7 93.4-38.7c35.3 0 68.4 13.7 93.4 38.7c24.9 24.9 38.7 58.1 38.7 93.4c0 35.3-13.8 68.4-38.7 93.4m-190.2 105a8.03 8.03 0 0 0-11.3 0L501 613.3L410.7 523l66.7-66.7c3.1-3.1 3.1-8.2 0-11.3L441 408.6a8.03 8.03 0 0 0-11.3 0L363 475.3l-43-43a7.85 7.85 0 0 0-5.7-2.3c-2 0-4.1.8-5.7 2.3L206.8 534.2c-68.9 69-77 175.7-24.3 253.5l-76.1 76.1a8.03 8.03 0 0 0 0 11.3l42.4 42.4c1.6 1.6 3.6 2.3 5.7 2.3s4.1-.8 5.7-2.3l76.1-76.1c33.7 22.9 72.9 34.3 112.1 34.3c51.2 0 102.4-19.5 141.5-58.6l101.9-101.9c3.1-3.1 3.1-8.2 0-11.3l-43-43l66.7-66.7c3.1-3.1 3.1-8.2 0-11.3zM441.7 769.1a131.32 131.32 0 0 1-93.4 38.7c-35.3 0-68.4-13.7-93.4-38.7a131.32 131.32 0 0 1-38.7-93.4c0-35.3 13.7-68.4 38.7-93.4l59.4-59.4l186.8 186.8z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.devicon--java {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%230074bd' d='M47.617 98.12s-4.767 2.774 3.397 3.71c9.892 1.13 14.947.968 25.845-1.092c0 0 2.871 1.795 6.873 3.351c-24.439 10.47-55.308-.607-36.115-5.969m-2.988-13.665s-5.348 3.959 2.823 4.805c10.567 1.091 18.91 1.18 33.354-1.6c0 0 1.993 2.025 5.132 3.131c-29.542 8.64-62.446.68-41.309-6.336'/%3E%3Cpath fill='%23ea2d2e' d='M69.802 61.271c6.025 6.935-1.58 13.17-1.58 13.17s15.289-7.891 8.269-17.777c-6.559-9.215-11.587-13.792 15.635-29.58c0 .001-42.731 10.67-22.324 34.187'/%3E%3Cpath fill='%230074bd' d='M102.123 108.229s3.529 2.91-3.888 5.159c-14.102 4.272-58.706 5.56-71.094.171c-4.451-1.938 3.899-4.625 6.526-5.192c2.739-.593 4.303-.485 4.303-.485c-4.953-3.487-32.013 6.85-13.743 9.815c49.821 8.076 90.817-3.637 77.896-9.468M49.912 70.294s-22.686 5.389-8.033 7.348c6.188.828 18.518.638 30.011-.326c9.39-.789 18.813-2.474 18.813-2.474s-3.308 1.419-5.704 3.053c-23.042 6.061-67.544 3.238-54.731-2.958c10.832-5.239 19.644-4.643 19.644-4.643m40.697 22.747c23.421-12.167 12.591-23.86 5.032-22.285c-1.848.385-2.677.72-2.677.72s.688-1.079 2-1.543c14.953-5.255 26.451 15.503-4.823 23.725c0-.002.359-.327.468-.617'/%3E%3Cpath fill='%23ea2d2e' d='M76.491 1.587S89.459 14.563 64.188 34.51c-20.266 16.006-4.621 25.13-.007 35.559c-11.831-10.673-20.509-20.07-14.688-28.815C58.041 28.42 81.722 22.195 76.491 1.587'/%3E%3Cpath fill='%230074bd' d='M52.214 126.021c22.476 1.437 57-.8 57.817-11.436c0 0-1.571 4.032-18.577 7.231c-19.186 3.612-42.854 3.191-56.887.874c0 .001 2.875 2.381 17.647 3.331'/%3E%3C/svg%3E");
}


.iwwa--csv {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath fill='%23000' d='M26.554 35.436H1.786a1.413 1.413 0 0 1-1.411-1.411V4.987c0-.777.633-1.41 1.411-1.41h34.698c.777 0 1.41.633 1.41 1.41V29.13a.5.5 0 0 1-1 0V4.987a.41.41 0 0 0-.41-.41H1.786a.41.41 0 0 0-.411.41v29.038c0 .226.184.411.411.411h24.768a.5.5 0 0 1 0 1'/%3E%3Cpath fill='%23000' d='M17.729 35.436a.5.5 0 0 1-.5-.5V4.077a.5.5 0 0 1 1 0v30.859a.5.5 0 0 1-.5.5m-9.559 0a.5.5 0 0 1-.5-.5V4.077a.5.5 0 0 1 1 0v30.859c0 .277-.223.5-.5.5m18.384-7.316a.5.5 0 0 1-.5-.5V4.077a.5.5 0 0 1 1 0V27.62a.5.5 0 0 1-.5.5'/%3E%3Cpath fill='%23000' d='M37.312 9.404H1.188a.5.5 0 0 1 0-1h36.125a.5.5 0 1 1-.001 1m-.349 5.292H1.188a.5.5 0 0 1 0-1h35.775a.5.5 0 0 1 0 1m-10.409 5.293H1.188a.5.5 0 0 1 0-1h25.366a.5.5 0 0 1 0 1m-.465 5.263H.875a.5.5 0 0 1 0-1h25.214a.5.5 0 0 1 0 1m-4.629 5.256H.875a.5.5 0 0 1 0-1H21.46a.5.5 0 0 1 0 1m9.921 7.089a.504.504 0 0 1-.354-.146l-7.701-7.702a.5.5 0 0 1 .707-.707l7.348 7.349l7.328-7.329a.5.5 0 0 1 .707.707l-7.682 7.683a.503.503 0 0 1-.353.145'/%3E%3Cpath fill='%23000' d='M31.381 37.597a.5.5 0 0 1-.5-.5V16.485a.5.5 0 0 1 1 0v20.611a.5.5 0 0 1-.5.501M.982 4.295h7.055v4.406H.982z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--powershell {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21.83 4c.49 0 .8.4.67.89l-3.16 14.22c-.11.49-.59.89-1.08.89H2.17c-.49 0-.8-.4-.67-.89L4.66 4.89C4.77 4.4 5.25 4 5.74 4zm-6 12h-4c-.46 0-.83.38-.83.84c0 .47.37.85.83.85h4c.47 0 .85-.38.85-.85c0-.46-.38-.84-.85-.84m-10.05.28a.87.87 0 0 0-.21 1.22c.28.42.84.5 1.24.23c7.35-5.17 7.4-5.23 7.45-5.26c.18-.16.27-.38.28-.6c.01-.2-.04-.37-.16-.56L9.46 6.03A.867.867 0 0 0 8.21 6c-.36.32-.38.88-.05 1.24l4.15 4.44z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

#toggle
{
font-size:50px;position:fixed;cursor:pointer;color:#2b2b2b;margin-top:0px;
margin-left : 5px;
}

@media(max-width:800px)
{
.sidebar.close {
  width: 0px;
}
}